@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@import "./_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:active {
    outline: none;
  }
}

section,
article,
picture,
aside {
  display: block;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: $primary-app-color;
  font-family: "Roboto", sans-serif;
}
